
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-R.ttf');
}


body
{  
    background-image: url("../images/background.jpg");
    font-family: 'Ubuntu', Arial, serif;

}


header
{
    text-transform: uppercase;
    color: #ffffff;
    background-color:#0f3850;
    font-weight: bold;

}


h1
{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    margin-left: 30px;
    text-shadow: 2px 2px 0px #08202e;
    
}

h2
{
    text-transform: uppercase;
    color: #0f3850;
    background-color:rgba(0,0,0,0.1);
    padding:5px;
    border-bottom: 5px #0f3850 solid;
    
}

#photo
{
    background-color:white;
    border: 2px #08202e solid;
    position: absolute;
    right: 40px;
    top:30px;
}


#photoProfil
{
    display:none;
}

#conteneur
{
    display: flex;
    margin:5px;
}

section
{
    width:25%;
    margin:5px;
    padding-bottom: 10px;
}

footer
{
    display:none;
}

@media screen and (max-width: 1280px)
{
    /* Rédigez vos propriétés CSS ici */
    
        
    header
    {
        height: 120px;

    }

    h1
    {
        font-size: 70px;
        text-align: center;
    }
    
    #conteneur
    {
        flex-wrap:wrap;
    }
    #photo
    {
        display:none;
    }

    #photoProfil
    {
        float:left;
        display:contents;
    }

    section
    {
        width:100%;
    }
    
    footer
    {
        text-align:center;
        display:contents;
        vertical-align:bottom;
    }

    
}